.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 755px;
  margin: 0 auto;

  background-color: #f8f9fc;

  & h2 {
    @include bebas-r;

    margin: 115px 0 60px 0;

    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: 33.2% 5.26% 23.07% 5.26% 33.2%;
  grid-template-rows: 160px 160px auto;
  width: 89.65%;
  max-width: 1040px;
}

.advantages__item {
  min-height: 163px;
  box-sizing: border-box;

  &--space {
    position: relative;

    grid-column: 1;
    grid-row: 1;

    &::before {
      position: absolute;
      content: "";
      bottom: 2px;
      left: 0;

      width: 340px;
      height: 2px;

      background-color: rgba(209, 10, 66, 0.2);
    }
  }

  &--parking {
    position: relative;

    grid-column: 5;
    grid-row: 1;

    &::before {
      position: absolute;
      content: "";
      bottom: 2px;
      left: 0;

      width: 340px;
      height: 2px;

      background-color: rgba(209, 10, 66, 0.2);
    }
  }

  &--experience {
    grid-column: 5;
    grid-row: 2;
  }

  &--space .advantages__desc {
    width: 180px;
  }

  &--parking .advantages__desc {
    width: 232px;
  }

  &--gym {
    grid-column: 3;
    grid-row: 1 / span 2;
    min-height: 307px;
    align-self: center;

    background-color: $dark-blue;

    color: #ffffff;
  }

  &--comfort {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 46% 54%;
    grid-template-rows: 50% auto;
  }
}

.advantages__inner {
  align-self: center;
}

.advantages__statistics {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 28px;

  vertical-align: top;

  background: linear-gradient(140deg, #d10a42 5%, #0041ca 45%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  & strong {
    @include roboto-b;

    font-size: 71px;
    line-height: 88%;
  }

  & span {
    font-size: 14px;
    line-height: 150%;
  }

  &--space {
    width: 106px;
    margin-left: 8%;
  }

  &--parking {
    width: 72px;
    margin-left: 7px;
    margin-right: 7.78%;
  }

  &--gym {
    background: unset;
    background-clip: unset;
    -webkit-text-fill-color: unset;
    margin: 49px 53px 37px 53px;

    text-align: center;

    & strong {
      display: inline-block;


      font-size: 74px;
      line-height: 114%;
      color: #ffffff;
    }

    & span {
      @include roboto-b;

      display: inline-block;
      font-size: 26px;
      line-height: 112%;
      text-transform: capitalize;
    }
  }

  &--comfort {
    grid-column: 1;
    grid-row: 2;
    width: 109px;
    margin: 0;
  }
}

.advantages__desc {
  display: inline-block;

  margin-bottom: 10px;

  & h3 {
    @include roboto-b;

    margin: 0 0 6px 0;

    font-size: 22px;
    line-height: 149%;
  }

  & p {
    @include roboto-l;

    margin: 0 0 6px 0;

    font-size: 16px;
    line-height: 140%;
  }

  &--gym {
    & p {
      @include roboto-r;

      width: 173px;
      margin: 0 33px 37px 33px;

      line-height: 150%;
      text-align: center;
    }
  }

  &--comfort {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 20px;

    // & h3 {
    //   margin-top: -5px;
    // }
  }
}
