.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 755px;

  background-color: #f8f9fc;

  & h2 {
    @include bebas-b;

    margin: 115px auto 62px auto;

    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: 33.2% 5.26% 23.07% 5.26% 33.2% auto;
  grid-template-rows: auto auto auto;
  width: 89.65%;
  max-width: 1040px;
  margin: 0 auto;
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  min-height: 163px;
  box-sizing: border-box;

  &--space {
    position: relative;

    grid-column: 1;
    grid-row: 1;

    &::before {
      position: absolute;
      content: "";
      bottom: 2px;
      left: 0;

      width: 340px;
      height: 2px;

      background-color: rgba(209, 10, 66, 0.2);
    }
  }

  &--parking {
    position: relative;

    grid-column: 5;
    grid-row: 1;

    &::before {
      position: absolute;
      content: "";
      bottom: 2px;
      left: 0;

      width: 340px;
      height: 2px;

      background-color: rgba(209, 10, 66, 0.2);
    }
  }

  &--space .advantages__desc {
    width: 180px;
  }

  &--parking .advantages__desc {
    width: 232px;
  }

  &--gym {
    grid-column: 3;
    grid-row: 1 / span 2;
    min-height: 307px;
    align-self: center;
    margin-bottom: 6px;

    background-color: $dark-blue;

    color: #ffffff;
  }

  &--comfort {
    grid-column: 1;
    grid-row: 2;
  }

  &--experience {
    grid-column: 5;
    grid-row: 2;
  }
}

.advantages__inner {
  align-self: center;
}

.advantages__statistics {
  display: inline-block;

  margin-bottom: 10px;

  vertical-align: top;

  &--tablet {
    display: none;
  }

  &--mobile {
    display: none;
  }

  // background: linear-gradient(140deg, #d10a42 5%, #0041ca 45%);
  // background-clip: text;
  // -webkit-text-fill-color: transparent;

  & strong {
    @include roboto-b;

    font-size: 71px;
    line-height: 88%;
  }

  & span {
    font-size: 14px;
    line-height: 150%;
  }

  &--space {
    width: 110px;
    height: 78px;
    margin: 0 29px 5px 25px;
  }

  &--parking {
    width: 72px;
    height: 71px;
    margin: 5px 9% 0 6px;
  }

  &--gym {
    background: unset;
    background-clip: unset;
    -webkit-text-fill-color: unset;
    margin: 49px 53px 37px 53px;

    text-align: center;

    & strong {
      display: inline-block;


      font-size: 74px;
      line-height: 114%;
      color: #ffffff;
    }

    & span {
      @include roboto-b;

      display: inline-block;
      font-size: 26px;
      line-height: 112%;
      text-transform: capitalize;
    }
  }

  &--comfort {
    grid-column: 1;
    grid-row: 2;

    align-self: flex-end;
    width: 109px;
    margin: 0 28px 8px 20px;
  }

  &--experience {
    grid-column: 1;
    grid-row: 2;

    align-self: flex-end;
    margin-left: 5px;
    margin-right: 32px;
    width: 70px;
  }
}

.advantages__desc {
  display: inline-block;

  margin-bottom: 2px;

  & h3 {
    @include roboto-b;

    margin: 0 0 6px 0;

    font-size: 22px;
    line-height: 149%;
  }

  & p {
    @include roboto-l;

    margin: 0 0 6px 0;

    font-size: 16px;
    line-height: 140%;
  }

  &--gym {
    margin-bottom: 21px;

    & p {
      @include roboto-r;

      width: 173px;
      margin: 0 33px 37px 33px;

      line-height: 150%;
      text-align: center;
    }
  }

  &--comfort {
    grid-column: 2;
    grid-row: 2;

    align-self: flex-end;
    width: 187px;
    margin-right: auto;
  }

  &--experience {
    grid-column: 2;
    grid-row: 2;

    align-self: flex-end;
    width: 232px;
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    & h2 {
      margin: 95px auto 45px auto;

      font-size: 42px;
      line-height: 42px;
    }
  }

  .advantages__wrapper {
    width: 88.28%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    min-height: 118px;
    width: 50%;

    &--space {
      &::before {
        display: none;
      }
    }

    &--gym {
      display: flex;
      flex-direction: column;
      order: 2;
      width: 65.19%;
      margin: 0 auto;
    }

    &--parking {
      order: 1;

      &::before {
        display: none;
      }
    }

    &--comfort {
      order: 3;
    }

    &--experience {
      order: 4;
    }
  }

  .advantages__statistics {
    &--desktop {
      display: none;
    }

    &--tablet {
      display: inline-block;
    }

    & strong {
      font-size: 58px;
      line-height: 88%;
    }

    & span {
      font-size: 14px;
      line-height: 150%;
    }

    &--space {
      width: 89px;
      height: 60px;
      margin: 7px 29px 5px 0;
    }

    &--parking {
      width: 59px;
      height: 60px;
      margin: 8px 29px 0 auto ;
    }

    &--gym {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 33px 0 15px 0;

      & strong {
        font-size: 74px;

        line-height: 100%;
      }

      & span {
        font-size: 22px;
      }
    }

    &--comfort {
      width: 89px;
      height: 60px;
      margin: 13px 29px 20px 0;
    }

    &--experience {
      margin: 13px 32px 20px auto;
      width: 57px;
      height: 60px;
    }
  }

  .advantages__desc {
    & h3 {
      font-size: 20px;
      line-height: 140%;
      margin: 0;
    }

    & p {
      display: inline-block;
      line-height: 150%;
    }

    &--gym {
      margin-bottom: 26px;

      text-align: center;

      & p {
        margin: 0 0 10px;
      }
    }

    &--parking {
      margin-right: 1%;
    }

    &--comfort {
      width: 55%;
      margin: 45px 0 5px 0;
    }

    &--experience {
      width: 232px;
      margin: 45px 1% 5px 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    min-height: unset;

    & h2 {
      margin: 72px auto 52px auto;

      font-size: 32px;
      line-height: 32px;
    }
  }

  .advantages__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto 18px;
  }

  .advantages__item {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: unset;
    margin-bottom: 10px;

    &--parking {
      order: 1;
    }

    &--gym {
      order: 2;
      width: 100%;
      margin: 0 0 50px;
    }

    &--comfort {
      margin-bottom: 7px;
    }
  }

  .advantages__statistics {
    margin-bottom: 10px;

    text-align: center;

    &--tablet {
      display: none;
    }

    &--mobile {
      display: inline-block;
    }

    & strong {
      font-size: 58px;
      line-height: 88%;
    }

    & span {
      font-size: 14px;
      line-height: 150%;
    }

    &--space {
      width: 89px;
      height: 60px;
      margin: 0 0 10px;
    }

    &--parking {
      width: 59px;
      height: 60px;
      margin: 0 0 10px;
    }

    &--gym {
      width: 100%;
      margin: 43px 0 10px;

      & strong {
        font-size: 74px;
      }

      & span {
        font-size: 22px;
      }
    }

    &--comfort {
      width: 89px;
      height: 60px;
      align-self: center;
      margin: 0 0 13px;
    }

    &--experience {
      width: 57px;
      height: 60px;
      align-self: center;
      margin: 0 0 10px;
    }
  }

  .advantages__desc {
    margin-bottom: 28px;

    text-align: center;

    & h3 {
      font-size: 20px;
      line-height: 150%;
      margin: 0;
    }

    & p {
      display: inline-block;
      line-height: 150%;
    }

    &--gym {
      margin-bottom: 15px;

      text-align: center;

      & p {
        margin: 0 0 27px;
      }
    }

    &--comfort {
      align-self: center;
      width: 187px;
      margin: 0 0 30px 0;
    }

    &--experience {
      align-self: center;
      width: 232px;
      margin: 0 0 30px;
    }

    &--parking {
      margin-bottom: 24px;
    }
  }
}
