.page-header {
  min-height: 658px;
  flex-shrink: 0;
  border: 1px solid #000000;
  box-sizing: border-box;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  background: conic-gradient(from 85deg at 16.03% 39.06%, #b80027, #003d85 23%, #b80027 99%) no-repeat border-box;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  width: 96%;
  min-height: 609px;
  padding: 0 2%;
  margin: 0 auto;
  max-width: 1160px;

  color: #ffffff;

  background-image: url("../img/header_promo.webp");
  background-repeat: no-repeat;
  background-position: 68% 50px;
  background-size: 500px 556px;
  background-color: transparent;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-header__wrapper {
    background-image: url("../img/header_promo_2x.jpg");
    background-repeat: no-repeat;
    background-position: 68% 50px;
    background-size: 500px 556px;
    background-color: transparent;
  }
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;

  & a {
    @include bebas-r;

    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 2px;

    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;

    color: #ffffff;

    &:hover {
      color: #203375;
    }

    &:active {
      color: #203375;

      opacity: 0.3;
    }

    &:focus {
      outline: 5px solid #2aa4f4;
      outline-offset: 3px;
    }
  }
}

.page-header__logo {
  width: 87px;
  height: 20px;
  margin: 30px 0;

  fill: #ffffff;

  &--tablet {
    display: none;
  }

  &--mobile {
    display: none;
  }
}

.page-header__promo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  background-color: transparent;
}

.page-header__membership {
  display: grid;
  grid-template-columns: 23% 16% 55.7%;
  grid-template-rows: auto auto auto;

  width: 36%;
  margin: 91px 0 92px;

  background-color: transparent;

  & b {
    @include bebas-r;

    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    align-self: end;

    margin-bottom: 13px;

    text-align: right;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }

  & strong {
    @include bebas-b;

    grid-column: 2;
    grid-row: 2;

    width: auto;
    margin: 0;

    font-size: 112px;
    font-weight: bolder;
    line-height: 109px;
    text-align: right;
    letter-spacing: 0.02em;
    text-shadow:
      1px 0 #ffffff,
      -1px 0 #ffffff;

    & span {
      margin-left: 65px;
    }
  }

  & a {
    @include button-style;

    grid-column: 3;
    grid-row: 4;
    align-self: start;

    margin-top: 50px;
    padding: 19px 54px 19px 54px;
    border: 4px solid #ffffff;

    color: #ffffff;

    &:hover {
      background-color: #ffffff;

      color: #273272;
    }

    &:active {
      background-color: #ffffff;

      color: #273272;

      opacity: 0.3;
    }

    &:focus {
      outline: 5px solid #2aa4f4;
      outline-offset: 3px;
    }
  }
}

.page-header__features {
  @include roboto-r;

  grid-column: 1 / span 2;
  grid-row: 2;
  align-self: end;

  margin: 12px 30px 33px 18px;
  width: 115px;

  font-size: 14px;
  line-height: 150%;

  & p {
    margin: 0;
    text-align: right;
  }
}

.page-header__socials {
  margin: 400px 0 0 auto;
  width: 15px;

  & a {
    @include roboto-r;

    display: inline-block;
    margin-bottom: 17px;
    margin-left: 3px;

    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-transform: uppercase;

    color: #ffffff;

    &:hover {
      color: #203375;
    }

    &:active {
      color: #203375;

      opacity: 0.3;
    }

    &:focus {
      outline: 5px solid #2aa4f4;
      outline-offset: 3px;
    }
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    min-height: 554px;

    background: conic-gradient(from 85deg at 20.7% 35.74%, #b80027, #003d85 23%, #b80027 99%) no-repeat border-box;
  }

  .page-header__wrapper {
    min-height: 432px;
    width: 88.6%;
    padding: 0 2%;

    background-image: url("../img/header_promo_tablet.jpg");
    background-repeat: no-repeat;
    background-position: 96% 82px;
    background-size: 324px 390px;
    background-color: transparent;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header__wrapper {
      background-image: url("../img/header_promo_tablet_2x.jpg");
      background-repeat: no-repeat;
      background-position: 96% 82px;
      background-size: 324px 390px;
      background-color: transparent;
    }
  }

  .page-header__nav {
    & a {
      margin-top: 40px;

      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.02em;
    }
  }

  .page-header__logo {
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
      width: 82px;
      height: 17px;
      margin: 42px 0 20px 0;

      fill: #ffffff;
    }
  }

  .page-header__membership {
    grid-template-columns: 28% 15% 57.5%;

    width: 47.78%;
    max-width: 400px;
    margin: 0 0 102px;

    & b {
      margin-top: 50px;
      margin-bottom: 8px;
      margin-left: 240px;

      font-size: 34px;
      line-height: 34px;
    }

    & strong {
      grid-column: 2 / span 3;
      grid-row: 2;
      justify-self: end;

      margin-bottom: 35px;

      font-size: 90px;
      line-height: 86px;
      letter-spacing: 0.01em;

      & span {
        margin-left: 49px;
      }
    }

    & a {
      max-width: 235px;
      padding: 20px 30px;
      margin: 0;
    }
  }

  .page-header__features {
    align-self: end;
    justify-self: start;
    margin: 0 0 58px;

    & p {
      margin: 0;

      font-size: 14px;
      line-height: 150%;
    }
  }

  .page-header__socials {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    min-height: 491px;

    background: conic-gradient(from 125deg at 35.31% 34.22%, #b80027, #003d85 23%, #b80027 99%) no-repeat border-box;
  }

  .page-header__wrapper {
    width: 92%;

    background-image: none;
  }

  .page-header__nav {
    & a {
      margin: 20px 0;

      font-size: 20px;
      line-height: 20px;
    }
  }

  .page-header__logo {
    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;
      width: 68px;
      height: 15px;
      margin: 20px 0;
    }
  }

  .page-header__promo {
    justify-content: center;
  }

  .page-header__membership {
    grid-template-columns: 26% 16.5% 57.5%;
    grid-template-rows: auto 62% 20%;

    width: 100%;
    margin: 0;

    & b {
      width: 100%;
      margin: 55px 0 12px 0;

      font-size: 28px;
      line-height: 28px;
    }

    & strong {
      margin-bottom: 0;

      font-size: 78px;
      line-height: 78px;
      letter-spacing: 0.03em;
    }

    & a {
      grid-column: 1 / span 3;
      grid-row: 3;

      width: 100%;
      max-width: unset;
      padding: 20px 0;
      margin: 0;
    }
  }

  .page-header__features {
    grid-column: 1 / span 2;
    grid-row: 2;
    align-self: end;

    margin: 0 0 54px;
  }
}
