.page-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;

  background-color: #030a1a;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 96%;
  max-width: 1160px;
  padding: 0 2%;
  margin: 0 auto;
}

.page-footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 68.62%;
  margin: 0;
}

.page-footer__logo {
  width: 111px;
  height: 20px;
  margin: 44px 32% 44px 0;

  fill: #ffffff;

  &--tablet {
    display: none;
  }

  &--mobile {
    display: none;
  }
}

.page-footer__nav-link {
  @include roboto-r;

  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  margin: 22px 5% 22px 0;

  &:last-of-type {
    margin-right: 0;
  }

  cursor: pointer;

  &:hover {
    color: $red;
  }

  &:active {
    color: $red;
    opacity: 0.5;
  }

  &:focus {
    color: $red;

    outline: 5px solid #2aa4f4;
    outline-offset: 3px;
  }
}

.page-footer__social {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 110px;
  margin: 41px 0;
}

.page-footer__link {
  display: inline-block;

  cursor: pointer;

  &:hover {
    & svg {
      fill: $red;
    }
  }

  &:active {
    & svg {
      fill: $red;
      fill-opacity: 0.5;
    }
  }

  &:focus {
    outline: 5px solid #2aa4f4;
    outline-offset: 3px;

    & svg {
      fill: $red;
    }
  }
}

.page-footer__icon {
  display: block;

  fill: #ffffff;

  &--mobile {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__wrapper {
    width: 88.28%;
  }

  .page-footer__logo {
    width: 101px;
    height: 18px;
    margin: 47px 8.2% 49px 0;

    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .page-footer__nav {
    width: 79%;
    margin: 0;
  }

  .page-footer__nav-link {
    margin-right: 5.59%;
  }

  .page-footer__social {
    width: 14.75%;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90.625%;
    margin: 48px auto 53px auto;
  }

  .page-footer__nav {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 40px 40px auto;
    width: 100%;
    margin: 0 0 14px 0;
  }

  .page-footer__logo {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    width: 101px;
    height: 18px;
    margin: 0 0 25px 0;

    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }

  .page-footer__nav-link {
    margin: 0 0 20px 0;

    font-size: 16px;
    line-height: 19px;

    &--features {
      grid-column: 1;
      grid-row: 2;
    }

    &--tickets {
      grid-column: 1;
      grid-row: 3;
    }

    &--campaigns {
      grid-column: 3;
      grid-row: 1;
    }

    &--trainers {
      grid-column: 3;
      grid-row: 2;
    }

    &--timetable {
      grid-column: 3;
      grid-row: 3;
    }
  }

  .page-footer__social {
    width: 49.31%;
    margin: 0;

    & li {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .page-footer__link {
    &--vk {
      & svg {
        width: 32px;
        height: 17px;
      }
    }
  }

  .page-footer__icon {
    display: none;

    &--mobile {
      display: block;
    }
  }
}
