.trainers {
  display: flex;
  flex-direction: column;
  width: 98%;
  max-width: 1277px;

  margin: 0 auto;
  padding: 0 1%;

  & h2 {
    @include bebas-b;
    margin: 0 auto 52px 61px;

    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.trainers__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 0;
  margin-bottom: 120px;

  & button {
    font-size: 0;
  }
}

.trainers__gallery {
  display: block;
  width: 90.75%;

  overflow: hidden;

  white-space: nowrap;
}

.trainers__list {
  @include list-reset;

  display: block;
  width: 100%;

  letter-spacing: 0;
}

.trainers__item {
  position: relative;

  display: inline-block;

  width: 260px;
  height: 294px;
  margin-right: 3.44%;
  margin-left: -0.37%;
  overflow: hidden;
  box-sizing: border-box;

  &:first-of-type {
    margin-left: 0;
  }

  &:nth-of-type(4n),
  &:last-of-type {
    margin-right: 0;
  }

  & p {
    @include roboto-b;

    position: absolute;
    content: "";
    bottom: 28px;
    left: 50%;

    margin: 0;
    display: block;
    width: 100%;

    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;

    transform: translate(-50%, 0);
  }

  &:hover {
    & p {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      z-index: 2;

      width: 100%;
      height: 100%;

      background-color: $dark-navy;

      opacity: 0.8;
    }

    & .trainers__desc {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: 5;

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  &:focus {
    outline: 5px solid #2aa4f4;
    outline-offset: -3px;
  }
}

.trainers__image {
  &--tablet {
    display: none;
  }

  &--mobile {
    display: none;
  }
}

.trainers__desc {
  display: none;

  & h3 {
    @include roboto-b;

    margin: 50px 0 0 0;

    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
  }

  & b {
    @include roboto-r;

    margin: 0 0 32px 0;

    font-size: 16px;
    line-height: 150%;
    color: #b6bdcc;
  }

  & ul {
    @include list-reset;

    width: 169px;

    font-size: 14px;
    line-height: 150%;

    color: #ffffff;
    white-space: normal;
  }

  & li {
    position: relative;

    width: 100%;
    margin: 0 0 13px 26px;

    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -16px;

      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;

      background-color: #ffffff;
    }
  }
}

@media (max-width: $tablet-width) {
  .trainers {
    width: 88.28%;

    & h2 {
      margin: 0 auto 40px auto;

      font-size: 42px;
      line-height: 42px;
    }
  }

  .trainers__wrapper {
    margin-bottom: 105px;
  }

  .trainers__gallery {
    width: 571px;
  }

  .trainers__item {
    width: 268px;
    margin-right: 5.3%;
    margin-left: 0;

    & p {
      left: 51%;
      bottom: 21px;

      max-width: 268px;
    }
  }

  .trainers__image {
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .trainers__desc {
    width: 268px;
    left: -3px;
  }
}

@media (max-width: $mobile-width) {
  .trainers {
    width: 90.625%;

    & h2 {
      margin-top: 0;

      font-size: 32px;
      line-height: 32px;
    }
  }

  .trainers__wrapper {
    min-width: 220px;
    margin-bottom: 70px;
  }

  .trainers__gallery {
    width: 226px;
  }

  .trainers__list {
    width: 1005;
    margin: 0 0;
  }

  .trainers__item {
    display: inline-block;
    width: 226px;
    height: 274px;
    margin: 0 0 0 -0.28%;

    &:first-of-type {
      margin-left: 0;
    }

    & p {
      bottom: 23px;

      transform: translate(-50%, 0);
    }
  }

  .trainers__image {
    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }

  .trainers__desc {
    left: 0;

    & h3 {
      margin-top: 43px;
    }

    & li {
      margin-left: 22px;
    }
  }
}
