$mobile-width: 767px;
$tablet-width: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$dark-navy: #102654;
$dark-blue: #1c3374;
$red: #ed0233;
$grad-bor: linear-gradient(to right bottom, #d10a42, #00359f);
$grad-btn: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
$grad-back: linear-gradient(to right bottom, #d10a42, #0041ca);
